# HomeStock – Environment Variables

# PostgreSQL
DB_BACKEND_USER=homestock_user
DB_BACKEND_PASSWORD=Q6G3qRau5Td9C2z2I3rr
DB_BACKEND_NAME=homestock_db


# JWT Secret
JWT_SECRET=your-super-secret-jwt-key-change-in-production


# pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=change-me


# Ports
BACKEND_PORT=3000
FRONTEND_PORT=8081
FRONTEND_PORT_2=8082
FRONTEND_PORT_3=8083
